* {
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}

.portrait-bg {
	background: url("images/portrait.png");
	background-size: cover;
}

input[type="range"] {
	height: 5px;
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 8px;
	background: #3b7677;
	transition: background 0.2s ease;
	cursor: pointer;
}
