* {
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}

/* .portrait-bg {
	background: url("images/portrait.png");
	background-size: cover;
} */

@keyframes colorChange {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
